[Unit]
Description=Keepalived Expordado
Documentation=https://github.com/mehdy/keepalived-exporter
After=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/keepalived-exporter-1.2.0.linux-amd64/keepalived-exporter

[Install]
WantedBy=multi-user.target