$TTL	604800
{{ domain_name }}.   IN	SOA	 {{ domain_name }}. alec.{{ domain_name }}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
{% for host in groups['dns_server'] %}
{{ domain_name }}. IN NS {{ host }}
{% endfor %}
{% for host in groups['all'] %}
{{ host }} IN A {{ hostvars[host]['ansible_default_ipv4']['address'] }}
{% endfor %}
{{backup_server}} IN A {{backup_ip}}